{:source-paths ["src" "resources" "tests"]

 :dependencies [[reagent "1.0.0-rc1" :exclusions [cljsjs/react cljsjs/react-dom]]
                [instaparse "1.4.10"]
                [cljs-bean "1.6.0"]
                [fipp "0.6.23"]]

 :builds {:reljr {:target :browser
                  :output-dir "public/js"
                  :asset-path "js"
                  :modules {:main {:init-fn reljr.frontend/main}}
                  :devtools {:http-root "public"
                             :http-port 3000}}

          :web-test {:target :browser-test
                     :test-dir "resources/public/js/test"
                     :devtools {:http-port 8021
                                :http-root "resources/public/js/test"}}
          :test {:target :node-test
                 :output-to "out/node-tests.js"
                 :autorun true}}}
