# This is a basic workflow to help you get started with Actions

name: Deploy reljr via SSH

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: checkout reljr
        uses: actions/checkout@v2
        
      - name: Setup node
        uses: actions/setup-node@v1
        with:
         node-version: '12'

      - name : install dependencies
        run: yarn install
          
      - name: build reljr
        run: yarn shadow-cljs release reljr
        
      - name: Copying files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_USER_PASSWORD }}
          rm: true
          source: "public/*"
          target: "${{ secrets.REMOTE_DIR }}"
